* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: space-evenly;
  background-color: orange;
  padding: 5px;
}

Nav .link {
  color: black;
  text-decoration: none;
  font-size: 2em;
}

nav a:hover {
  color: grey;
}

.link {
  text-decoration: none;
}

.app-title {
  text-align: center;
  font-weight: bold;
}

.card {
  background-color: coral;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  align-content: center;
  margin: 10px;
  flex-direction: column;
  padding: 5px;
}

.card-header,
.card-body {
  margin-left: 10px;
}
